@CHARSET "ISO-8859-1";

body{
	background-color: WHITE;
}

tr {
	border: solid;
}

td {
	
	border: solid;
	background-color: #00AEEF; 
}

table{
	border: solid;
	
}

.btn-class{
 display: inline-block;
 border:1px solid #7D99CA;
 color: #fff;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 40px;
 background-image: linear-gradient(to top, #A8BBDE, #7089B3);
 background-color: #A5B8DA;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #5D7FBC;
 color: #fff;
 background-color: #97A8C7;
}


input {
	
}