@CHARSET "ISO-8859-1";

body{
	background-color: WHITE;
}

table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}



.btn-class{
 display: inline-block;
 border:1px solid #7D99CA;
 color: #fff;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 40px;
 background-image: linear-gradient(to top, #A8BBDE, #7089B3);
 background-color: #A5B8DA;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #5D7FBC;
 color: #fff;
 background-color: #97A8C7;
}